<!DOCTYPE html>
<html>

<head>
    <title>Регистрация</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Регистрация</h1>
    <form action="/register" method="POST">
        <div>
            <label>Логин:</label>
            <input type="text" name="login" required>
        </div>
        <div>
            <label>Пароль:</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <a href="/login">Уже есть аккаунт? Войдите</a>
</body>

</html>
